@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Manage news";

    string Title = "";
    string Description = "";

    var path = "";
    var displaypath = "";
    var News_IMG = "";
    int News_Id = 0;
    var currentimage = "";
    string Date = DateTime.Now.ToShortDateString();

    string mail = "";
    @Bobdehelper.Sessionnull();
    mail = Session["mail"].ToString();

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Harry_Potter.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);
    var t = new Functions();
    string checkrank = "";
    if (t.Rank(mail) == "Owner")
    {
        checkrank = t.Rank(mail);
    }
    else
    {
        Response.Redirect("~/login.cshtml");
    }

    if (Request.QueryString["NewsId"] != null)
    {
        News_Id = Request.QueryString["NewsId"].AsInt();
        var Data = db.QuerySingle("SELECT * FROM News WHERE News_Id = @0", Request.QueryString["NewsId"].AsInt());
        currentimage = db.QuerySingle("SELECT News_IMG FROM News WHERE News_id = @0", News_Id).News_IMG;
        Title = Data.Title;
        Description = Data.Description;
        Date = Data.Date;
        News_IMG = Data.News_IMG;
    }

    if (IsPost)
    {
        Title = Request.Form["title"];
        Description = Request.Form["description"];
        var image = WebImage.GetImageFromRequest();


        // Add image //
        if (currentimage == "" && image != null)
        {
            path = @"~\NewsImage\" + Path.GetFileName(image.FileName);
            displaypath = @"\NewsImage\" + Path.GetFileName(image.FileName);
            News_IMG = displaypath;
            image.Save(path);
        }

        else if (currentimage != "" && image != null)
        {
            var serverpath = Server.MapPath(currentimage);
            File.Delete(serverpath);

            path = @"~\NewsImage\" + Path.GetFileName(image.FileName);
            displaypath = @"\NewsImage\" + Path.GetFileName(image.FileName);
            News_IMG = displaypath;
            image.Save(path);
        }

        // Update Database //

        if (Request.QueryString["NewsId"] != null)
        {
            db.Execute("UPDATE News SET Title = @0, Description = @1, Date = @2, News_IMG = @3 WHERE News_Id = @4", Title, Description, Date, News_IMG, Request.QueryString["NewsId"].AsInt());
            Response.Redirect("~/NewsHome.cshtml");
        }
        else
        {

            db.Execute("INSERT INTO News(Title, Description, Date, News_IMG) VALUES(@0, @1, @2, @3)", Title, Description, Date, News_IMG);
            Response.Redirect("~/Newshome.cshtml");
        }
    }
}
<head>
    <link href="~/Stylesheets/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <link href="~/NewsStyle.css" rel="stylesheet" />
</head>
<body style="background-color: #202225;">
    <div class="container">
        <center>
            <div style="padding-bottom: 50px;"></div>
            <div class="col-md-4">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label style="color: white;" for="title">News Title</label>
                        @if (Title != "")
                        {
                            <input type="text" class="form-control" id="question" name="title" cols="40" rows="5" style="resize:vertical;" value="@Title" required>
                        }
                        else
                        {
                            <input type="text" class="form-control" id="question" name="title" cols="40" rows="5" style="resize:vertical;" required>
                        }
                    </div>
                    <div class="align-center">
                        <label style="color: white;" for="Image">Add Image</label>
                        <div class="bg-white text-dark">
                            <!-- Image input-->
                            @if (currentimage != "")
                            {

                                <input type="file" class="form-control-file" style="margin:5px" name="image" value="@currentimage">
                            }
                            else
                            {
                                <input type="file" class="form-control-file" style="margin:5px" name="image">
                            }
                        </div>
                    </div>

                    <div id="">
                        <div id="">
                            <!-- Text input-->
                            <hr />
                            <div class="form-group">
                                <label style="color: white;">News Content</label>
                                @if (Description != "")
                                {
                                    <textarea type="text" class="form-control" name="description" cols="40" rows="10" style="resize:vertical;" required>@Description</textarea>
                                }
                                else
                                {
                                    <textarea type="text" class="form-control" name="description" cols="40" rows="10" style="resize:vertical;" required></textarea>
                                }
                            </div>
                            <hr />
                        </div>
                        <div>
                            @if (Date != "")
                            {
                                <input type="hidden" value="@Date" />
                            }
                            else
                            {
                                <input type="hidden" value="@Date" />
                            }
                        </div>
                    </div>

                    <!--Submit-->
                    <div class="form-group">
                        @if (Request.QueryString["NewsId"] != null)
                        {
                            <input type="submit" id="add-more" name="add" class="btn btn-primary" value="Edit News" />
                        }
                        else
                        {
                            <input type="submit" id="add-more" name="add" class="btn btn-primary" value="Add News" />
                        }
                    </div>
                </form>
            </div>
        </center>
        <div style="padding-bottom: 50px;"></div>
    </div>
</body>