@{

    string mail = "";
    @Bobdehelper.Sessionnull();
    mail = Session["mail"].ToString();

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Harry_Potter.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    var t = new Functions();
    string checkrank = "";
    if (t.Rank(mail) == "Owner")
    {
        checkrank = t.Rank(mail);
    }
    else
    {
        Response.Redirect("~/login.cshtml");
    }
    var Username = "";
    var Email = "";
    var Rank = "";

    if (!IsPost)
    {
        if (!Request.QueryString["User"].IsEmpty())
        {
            Username = Request.QueryString["User"];

            var SelectUser = "SELECT * FROM [Profiel] WHERE Username = @0";
            var UserRow = db.QuerySingle(SelectUser, Username);
            if (UserRow != null)
            {
                Email = UserRow.Email;
                Rank = UserRow.Rank;
            }
        }
    }
    if (IsPost)
    {
        if (!Request.QueryString["User"].IsEmpty())
        {
            Username = Request.QueryString["User"];
            var BlockUser = "UPDATE Profiel SET Is_Blocked = @0 WHERE Username = @1";
            db.Execute(BlockUser, 1, Username);
            Response.Redirect("~/Admin page.cshtml");
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>

    <form method="post">
        <fieldset>
            <p>
                <span>Username:</span>
                <span>@Username</span>
            </p>

            <p>
                <span>Email:</span>
                <span>@Email</span>
            </p>

            <p>
                <span>Rank:</span>
                <span>@Rank</span>
            </p>

            <input type="hidden" name="ItemId" value="@Username" />
            <p><input type="submit" name="DeleteItem" value="Ban User" /></p>
        </fieldset>
    </form>

</body>
</html> 