@{
    var Report_Id = 0;
    var Forum_Forum_Id = 0;
    var Post_Post_Id = 0;
    var Comment_Comment_Id = 0;
    var Reply_Reply_Id = 0;
    var Reason = "";
    var Reported_by = "";

    var mail = "";
    if (Session["mail"] != null)
    {
        mail = Session["mail"].ToString();
    }
    else { Response.Redirect("~/login.cshtml"); }

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Harry_Potter.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    var getUser = "SELECT Rank FROM [Profiel] WHERE Email = @0";
    var rank = db.QuerySingle(getUser, mail).rank;
    if (rank != "Owner")
    {
        Response.Redirect("~/login.cshtml");
    }

    if (!IsPost)
    {
        if (!Request.QueryString["PostId"].IsEmpty())
        {
            var test = Request.QueryString["PostId"];
            Report_Id = Convert.ToInt32(Request.QueryString["PostId"]);

            var SelectPost = "SELECT * FROM [Reports] WHERE Report_Id = @0";
            var postrow = db.QuerySingle(SelectPost, Report_Id);
            if (postrow != null)
            {
                Report_Id = postrow.Report_Id;
                Forum_Forum_Id = postrow.Forum_Forum_Id;
                Post_Post_Id = postrow.Post_Post_Id;
                try
                {
                    Comment_Comment_Id = postrow.Comment_Comment_Id;
                }
                catch (Exception)
                {
                    Comment_Comment_Id = 0;
                }
                try
                {
                    Reply_Reply_Id = postrow.Reply_Reply_Id;
                }
                catch (Exception)
                {
                    Reply_Reply_Id = 0;
                }
                Reason = postrow.Reason;
                Reported_by = postrow.Reported_by;
            }
        }
    }

    if (IsPost)
    {
        if (!Request.QueryString["PostId"].IsEmpty())
        {
            var test = Request.QueryString["PostId"];
            Report_Id = Convert.ToInt32(Request.QueryString["PostId"]);

            var SelectPost = "SELECT * FROM [Reports] WHERE Report_Id = @0";
            var postrow = db.QuerySingle(SelectPost, Report_Id);
            if (postrow != null)
            {
                Report_Id = postrow.Report_Id;
                Forum_Forum_Id = postrow.Forum_Forum_Id;
                Post_Post_Id = postrow.Post_Post_Id;
                try
                {
                    Comment_Comment_Id = postrow.Comment_Comment_Id;
                }
                catch (Exception)
                {
                    Comment_Comment_Id = 0;
                }
                try
                {
                    Reply_Reply_Id = postrow.Reply_Reply_Id;
                }
                catch (Exception)
                {
                    Reply_Reply_Id = 0;
                }
                Reason = postrow.Reason;
                Reported_by = postrow.Reported_by;
            }
            if (Reply_Reply_Id != 0)
            {
                db.Execute("DELETE FROM IsVoted WHERE Reply_Reply_Id = @0", Reply_Reply_Id);
                db.Execute("DELETE FROM [Reports] WHERE Reply_Reply_Id = @0", Reply_Reply_Id);
                db.Execute("DELETE FROM Replies WHERE Reply_Id = @0", Reply_Reply_Id);
            }
            else if(Comment_Comment_Id != 0)
            {
                db.Execute("DELETE FROM IsVoted WHERE Comment_Comment_Id = @0", Comment_Comment_Id);
                db.Execute("DELETE FROM [Reports] WHERE Comment_Comment_Id = @0", Comment_Comment_Id);
                db.Execute("DELETE FROM Replies WHERE Comment_Comment_Id = @0", Comment_Comment_Id);
                db.Execute("DELETE FROM Comments WHERE Comment_Id = @0", Comment_Comment_Id);
            }
            else
            {
                db.Execute("DELETE FROM IsVoted WHERE Post_Post_Id = @0", Post_Post_Id);
                db.Execute("DELETE FROM [Reports] WHERE Post_Post_Id = @0", Post_Post_Id);
                db.Execute("DELETE FROM Replies WHERE Post_Post_Id = @0", Post_Post_Id);
                db.Execute("DELETE FROM Comments WHERE Post_Post_Id = @0", Post_Post_Id);
                db.Execute("DELETE FROM Post WHERE Post_Id = @0", Post_Post_Id);
            }
            Report_Id = Convert.ToInt32(Request.QueryString["PostId"]);
            db.Execute("DELETE FROM [Reports] WHERE Report_Id = @0", Report_Id);
            Response.Redirect("~/Admin page.cshtml");
        }

    }
}

<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>

    <form method="post">
        <fieldset>
            <p>
                <span>Report_Id:</span>
                <span>@Report_Id</span>
            </p>

            <p>
                <span>Forum_Id:</span>
                <span>@Forum_Forum_Id</span>
            </p>

            <p>
                <span>Post_Id:</span>
                <span>@Post_Post_Id</span>
            </p>

            <p>
                <span>Comment_Id:</span>
                <span>@Comment_Comment_Id</span>
            </p>

            <p>
                <span>Reply_Id:</span>
                <span>@Reply_Reply_Id</span>
            </p>

            <p>
                <span>Reason:</span>
                <span>@Reason</span>
            </p>

            <p>
                <span>Reported_by:</span>
                <span>@Reported_by</span>
            </p>

            <input type="hidden" name="ItemId" value="@Report_Id" />
            <p><input type="submit" name="DeleteItem" value="Delete Item" /></p>
        </fieldset>
    </form>

</body>
</html> 