@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Gryffindor";
    PageData["current"] = "Houses";

    string mail = "";
    @Bobdehelper.Sessionnull();
    mail = Session["mail"].ToString();

    string nr1house = "";
    int nr1points = 0;
    string nr2house = "";
    int nr2points = 0;
    string nr3house = "";
    int nr3points = 0;
    string nr4house = "";
    int nr4points = 0;
    var pointdifference = 0;
    string position = "";

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Harry_Potter.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    string checkrank = "";
    var t = new Functions();
    if (t.Rank(mail) == "Student" || t.Rank(mail) == "Teacher" || t.Rank(mail) == "Owner")
    {
        checkrank = t.Rank(mail);
    }
    else
    {
        Response.Redirect("~/login.cshtml");
    }

    int students = db.QuerySingle("SELECT COUNT(Username) AS Amount FROM Profiel WHERE House_House_Id = 1").Amount;

    int TotalGryfDing = 0;
    var SelectTotalPointsGryf = db.QuerySingle("SELECT SUM(User_Points) AS Total FROM Profiel Where House_House_Id = 1 AND Rank = 'Student'").Total;
    if (SelectTotalPointsGryf != null)
    {
        TotalGryfDing = SelectTotalPointsGryf;
    }

    int TotalHufDing = 0;
    var SelectTotalPointsHuf = db.QuerySingle("SELECT SUM(User_Points) AS Total FROM Profiel Where House_House_Id = 2 AND Rank = 'Student'").Total;
    if (SelectTotalPointsHuf != null)
    {
        TotalHufDing = SelectTotalPointsHuf;
    }

    int TotalRavDing = 0;
    var SelectTotalPointsRav = db.QuerySingle("SELECT SUM(User_Points) AS Total FROM Profiel Where House_House_Id = 3 AND Rank = 'Student'").Total;
    if (SelectTotalPointsRav != null)
    {
        TotalRavDing = SelectTotalPointsRav;
    }

    int TotalSlythDing = 0;
    var SelectTotalPointsSlyth = db.QuerySingle("SELECT SUM(User_Points) AS Total FROM Profiel Where House_House_Id = 4 AND Rank = 'Student'").Total;
    if (SelectTotalPointsSlyth != null)
    {
        TotalSlythDing = SelectTotalPointsSlyth;
    }

    Functions functions = new Functions();
    int[] positions = functions.GetPositions(TotalGryfDing, TotalHufDing, TotalRavDing, TotalSlythDing);

    if (positions[0] == 1)
    {
        position = "1st";
    }
    if (positions[0] == 2)
    {
        position = "2nd";
    }
    if (positions[0] == 3)
    {
        position = "3rd";
    }
    if (positions[0] == 4)
    {
        position = "4th";
    }
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>@Page.Title - Yer a wizzard harry</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
</head>
<body style="background-color: #202225;">
    <div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="panel panel-default">
                    <div id="houseBackgr-Gr" class="userprofile social">
                        <div style="padding-top: 20px;"></div>
                        <div class="userpic"> <img style="width: 250px; height: 250px;" src="~/Images/Logo_Gryffindor_shadow.png" alt="" class="userpicimg"> </div>
                        <h3 style="font-weight: bold; color: #c8c8c8;" class="username">Gryffindor</h3>
                        <p style="font-weight: 700;"></p>
                        <div class="socials tex-center">
                            <a href="~/Gryffindor.cshtml" class="btn btn-circle btn-primary" id="houseGrBtn">
                                <i class="#"></i>
                            </a>
                            <a href="~/Hufflepuff.cshtml" class="btn btn-circle btn-warning" id="houseHuBtn">
                                <i class="#"></i>
                            </a>
                            <a href="~/Ravenclaw.cshtml" class="btn btn-circle btn-info" id="houseRaBtn">
                                <i class="#"></i>
                            </a>
                            <a href="~/Slytherin.cshtml" class="btn btn-circle btn-danger" id="houseSlBtn">
                                <i class="#"></i>
                            </a>
                        </div>
                    </div>
                    <div class="container">
                        <div id="houseInfo" class="col-md-12 border-bottom">
                            <ul style="color: #dddddd" class="nav nav-pills pull-left countlist" role="tablist">
                                <li role="presentation">
                                    <h3>
                                        @position<br>
                                        <small class="sub-text">POSITION</small>
                                    </h3>
                                </li>
                                <div style="padding-left: 35px;"></div>
                                <li role="presentation">
                                    <h3>
                                        @TotalGryfDing<br>
                                        <small class="sub-text">POINTS</small>
                                    </h3>
                                </li>
                                <div style="padding-left: 35px;"></div>
                                <li role="presentation">
                                    <h3>
                                        @students<br>
                                        <small class="sub-text">STUDENTS</small>
                                    </h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 25px;"></div>
    <div class="container">
        <div class="row">
            <div id="house-Wiki" class="col">
                <h3 style="font-size: 34px; text-align: center; color: #dddddd;">About <span style="color: #a50f0f">Gryffindor</span></h3>
                <br />
                <h4 class="house-head">History</h4>
                <p class="house-par">
                    Gryffindor is one of the four Houses of Hogwarts School of Witchcraft and Wizardry and was founded by Godric Gryffindor. Godric instructed the Sorting Hat to choose students possessing characteristics he most valued, such as courage, chivalry, and determination, to be sorted into his house.
                    The emblematic animal is a lion, and its colours are scarlet and gold.
                    Sir Nicholas de Mimsy-Porpington, also known as "Nearly Headless Nick" is the House ghost.
                </p>
                <p class="house-par">
                    Gryffindor corresponds roughly to the element of fire, and it is for this reason that the colours scarlet and gold were chosen to represent the house. The colour of fire corresponds to that of a lion as well, with scarlet representing the mane and tail and gold representing the coat.
                </p>
                <br />
                <h4 class="house-head">Traits</h4>
                <p class="house-par">
                    The Gryffindor house emphasizes the traits of courage as well as "daring, nerve, and chivalry," and thus its members are generally regarded as brave, though sometimes to the point of recklessness.
                </p>
                <br />
                <h4 class="house-head">Reputation</h4>
                <p class="house-par">
                    <span class="Gr-mention">Gryffindors</span> and <span class="Sl-mention">Slytherins</span> have shared a fierce house rivalry since their founders, Godric <span class="Gr-mention">Gryffindor</span> and Salazar <span class="Sl-mention">Slytherin</span>, respectively, had a severe falling out over <span class="Sl-mention">Slytherin's</span> emphasis on blood purity.
                    <br />
                    There might also be an element of feeling wronged, as Harry and his fellow <span class="Gr-mention">Gryffindors</span> tend to win in a lot of circumstances which, when viewed from a neutral point of view, may be considered unfair.
                    Examples of this include the last-minute points awarded by Headmaster Dumbledore at the Leaving Feast, which conveniently put <span class="Gr-mention">Gryffindor</span> ten points ahead of <span class="Sl-mention">Slytherins</span> in the 1991–1992 school year, the fact that no points were deducted for the rule breaking that happened during that night and Harry being permitted by Professor McGonagall to have his own broomstick for the <span class="Gr-mention">Gryffindor</span> Quidditch team, even though first-years are not normally permitted their own broomsticks because of danger.
                    <br />
                    <br />
                    Overall, however, the houses of <span class="Ra-mention">Ravenclaw</span> and <span class="Hu-mention">Hufflepuff</span> tended to side with <span class="Gr-mention">Gryffindor</span> in its rivalry with <span class="Sl-mention">Slytherin</span>.
                    This was particularly notable during the Second Wizarding War — the members of Dumbledore's Army were from <span class="Gr-mention">Gryffindor</span>, <span class="Hu-mention">Hufflepuff</span>, and <span class="Ra-mention">Ravenclaw</span>, but the Army lacked any <span class="Sl-mention">Slytherins</span>.
                    (This, however, could also have been because news of Dumbledore's Army was passed by word of mouth, and Harry, who had initially raised it, did not associate with any <span class="Sl-mention">Slytherins</span>.)
                    During the Battle of Hogwarts, the <span class="Sl-mention">Slytherin</span> students left, while senior students from the other three houses remained behind to fight against Lord Voldemort and his army - however, it is also worth noting that while Head of House Professor Slughorn left with his students, he then returned to the castle with reinforcements (possibly including senior students) and with Professor McGonagall and Auror Kingsley Shacklebolt, personally duelled Lord Voldemort.
                    Most of the known Death Eaters (besides Peter Pettigrew, Quirinus Quirrell, and possibly others) have been <span class="Sl-mention">Slytherin</span> House members, and that might have been another reason as to why the other two houses sided with <span class="Gr-mention">Gryffindor</span> over <span class="Sl-mention">Slytherin</span>.
                </p>
                <br />
                <h4 class="house-head">Common Room</h4>
                <p class="house-par">
                    The Gryffindor Common Room is located in one of the castle's towers (Gryffindor Tower), the entrance to which is located on the seventh floor and is guarded by an oil painting of the Fat Lady, who is garbed in a pink silk dress.
                    She permits entry only after being given the correct (regularly changing) password.
                    Behind her painting is a large common room, with a fireplace, and two staircases leading up to the girls' and boys' dormitories.
                    <br />
                    <br />
                    There is a spell on the girls' staircase that prevents boys from using it; however, there is no such enchantment on the staircase to the boys' dormitory, allowing girls to use it whenever they wish, due to the founders' belief that girls were more trustworthy.
                    The common room is very comfortable, and members of the Gryffindor house meet there for study groups, celebrations, or relaxation.
                    The walls are lined with portraits, each one depicting a previous or current Head of Gryffindor.
                </p>
                <p class="house-par" style="color: white;">Source: <a href="https://harrypotter.fandom.com/wiki/Gryffindor">https://harrypotter.fandom.com/wiki/Gryffindor</a></p>
            </div>
        </div>
    </div>
    <br />
    <link rel="stylesheet" href="~/Scripts/Layout.css" type="text/css" />
</body>

