@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "HouseCup";
    PageData["current"] = "HouseCup";


    string Rank = "Student";
    int Gryf = 1;
    int Huf = 2;
    int Rav = 3;
    int Slyth = 4;
    string nr1house = "";
    int nr1points = 0;
    string nr2house = "";
    int nr2points = 0;
    string nr3house = "";
    int nr3points = 0;
    string nr4house = "";
    int nr4points = 0;
    var pointdifference = 0;
    string mail = "";
    @Bobdehelper.Sessionnull();
    mail = Session["mail"].ToString();
    string checkrank = "";
    var t = new Functions();
    if (t.Rank(mail) == "Student" || t.Rank(mail) == "Teacher" || t.Rank(mail) == "Owner")
    {
        checkrank = t.Rank(mail);
    }
    if (t.Rank(mail) == "NoRank")
    {
        Response.Redirect("~/login.cshtml");
    }

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Harry_Potter.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    var SelectTotalPointsGryf = "SELECT SUM(User_Points) AS Total FROM Profiel Where House_House_Id = @0 AND Rank = @1";
    var TotalPointsGryf = db.QuerySingle(SelectTotalPointsGryf, Gryf, Rank);
    var TotalGryfDing = TotalPointsGryf.Total;

    var SelectTotalPointsHuf = "SELECT SUM(User_Points) AS Total FROM Profiel Where House_House_Id = @0 AND Rank = @1";
    var TotalPointsHuf = db.QuerySingle(SelectTotalPointsHuf, Huf, Rank);
    var TotalHufDing = TotalPointsHuf.Total;

    var SelectTotalPointsRav = "SELECT SUM(User_Points) AS Total FROM Profiel Where House_House_Id = @0 AND Rank = @1";
    var TotalPointsRav = db.QuerySingle(SelectTotalPointsRav, Rav, Rank);
    var TotalRavDing = TotalPointsRav.Total;

    var SelectTotalPointsSlyth = "SELECT SUM(User_Points) AS Total FROM Profiel Where House_House_Id = @0 AND Rank = @1";
    var TotalPointsSlyth = db.QuerySingle(SelectTotalPointsSlyth, Slyth, Rank);
    var TotalSlythDing = TotalPointsSlyth.Total;

    if (TotalGryfDing > TotalHufDing)
    {
        if (TotalGryfDing > TotalRavDing)
        {
            if (TotalGryfDing > TotalSlythDing)
            {
                nr1house = "Gryffindor";
                nr1points = TotalGryfDing;
                nr2house = "Slytherin";
                nr2points = TotalSlythDing;
                pointdifference = nr1points - nr2points;
            }
            else
            {
                nr2house = "Gryffindor";
                nr2points = TotalGryfDing;
                nr1house = "Slytherin";
                nr1points = TotalSlythDing;
                pointdifference = nr1points - nr2points;
            }
            if (TotalRavDing > TotalHufDing)
            {
                nr3house = "Ravenclaw";
                nr3points = TotalRavDing;
                nr4house = "Huffelpuf";
                nr4points = TotalHufDing;
            }
            else
            {
                nr4house = "Ravenclaw";
                nr4points = TotalRavDing;
                nr3house = "Huffelpuf";
                nr3points = TotalHufDing;
            }
        }
    }
    if (TotalRavDing > TotalSlythDing)
    {
        if (TotalRavDing > TotalGryfDing)
        {
            if (TotalRavDing > TotalHufDing)
            {
                nr1house = "Ravenclaw";
                nr1points = TotalRavDing;
                nr2house = "Huffelpuf";
                nr2points = TotalHufDing;
                pointdifference = nr1points - nr2points;
            }
            else
            {
                nr2house = "Ravenclaw";
                nr2points = TotalRavDing;
                nr1house = "Huffelpuf";
                nr1points = TotalHufDing;
                pointdifference = nr1points - nr2points;
            }
            if (TotalGryfDing > TotalSlythDing)
            {
                nr3house = "Gryffindor";
                nr3points = TotalGryfDing;
                nr4house = "Slytherin";
                nr4points = TotalSlythDing;
            }
            else
            {
                nr4house = "Gryffindor";
                nr4points = TotalGryfDing;
                nr3house = "Slytherin";
                nr3points = TotalSlythDing;
            }
        }
    }



    // Gryf punten ding
    var SelectGryfUserPoints = "SELECT Username, User_Points FROM Profiel WHERE Rank = @0 AND House_House_Id = @1 ORDER BY User_Points DESC";
    var GryfPointRow = db.Query(SelectGryfUserPoints, Rank, Gryf);

    var gridGryf = new WebGrid(source: GryfPointRow);

    // Huf punten ding
    var SelectHufUserPoints = "SELECT Username, User_Points FROM Profiel WHERE Rank = @0 AND House_House_Id = @1 ORDER BY User_Points DESC";
    var HufPointRow = db.Query(SelectHufUserPoints, Rank, Huf);

    var gridHuf = new WebGrid(source: HufPointRow);

    // Rav punten ding
    var SelectRavUserPoints = "SELECT Username, User_Points FROM Profiel WHERE Rank = @0 AND House_House_Id = @1 ORDER BY User_Points DESC";
    var RavPointRow = db.Query(SelectRavUserPoints, Rank, Rav);

    var gridRav = new WebGrid(source: RavPointRow);

    // slyth punten ding
    var SelectSlythUserPoints = "SELECT Username, User_Points FROM Profiel WHERE Rank = @0 AND House_House_Id = @1 ORDER BY User_Points DESC";
    var SlythPointRow = db.Query(SelectSlythUserPoints, Rank, Slyth);

    var gridSlyth = new WebGrid(source: SlythPointRow);


}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Page Title</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Condensed" rel="stylesheet">
    <style>
        #background {
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0px;
            top: 0px;
            z-index: -1;
        }

        .stretch {
            width: 100%;
            height: 100%;
        }

        th {
            padding-right: 40px;
        }
    </style>
</head>
<body>
    <div id="background">
        <img class="stretch" src="~/Images/hpbackhouse.png" />
    </div>
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4" style="color: white; font-family: 'Cabin Condensed', sans-serif;">
            HouseCup standing
            <br /><small style="color: white; font-family: Papyrus">@nr1house  is in the lead with @pointdifference points</small>
        </h1>

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card h-100" style="border: solid black 2px; border-radius: 10px; background-color: rgba(39, 39, 39, 0.56)">
                    <a href="#"><img class="card-img-top" style="margin-top: 5px" src="~/Images/ScoreG.png" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gryffindor</a>
                        </h4>
                        <div style="color: white">
                            @gridGryf.GetHtml(columns: gridGryf.Columns(gridGryf.Column("Username"), gridGryf.Column("User_Points")))


                        </div>
                        <br />
                        <div style="border-top: double 1px; color: white; ">
                            <span style="padding-right:75px">Total:</span>
                            <span>@TotalGryfDing</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card h-100" style="border: solid black 2px; border-radius: 10px; background-color: rgba(39, 39, 39, 0.56)">
                    <a href="#"><img class="card-img-top" style="margin-top: 20px" src="~/Images/ScoreH.png" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Hufflepuff</a>
                        </h4>
                        <div style="color: white">
                            @gridHuf.GetHtml(tableStyle: "webgrid", columns: gridHuf.Columns(gridHuf.Column("Username"), gridHuf.Column("User_Points")))
                        </div>
                        <br />
                        <div style="border-top: double 1px; color: white; ">
                            <span style="padding-right:75px">Total:</span>
                            <span>@TotalHufDing</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card h-100" style="border: solid black 2px; border-radius: 10px; background-color: rgba(39, 39, 39, 0.56)">
                    <a href="#"><img class="card-img-top" style="margin-top: 20px" src="~/Images/ScoreR.png" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Ravenclaw</a>
                        </h4>
                        <div style="color: white">
                            @gridRav.GetHtml(columns: gridRav.Columns(gridRav.Column("Username"), gridRav.Column("User_Points")))
                        </div>
                        <br />
                        <div style="border-top: double 1px; color: white; ">
                            <span style="padding-right:75px">Total:</span>
                            <span>@TotalRavDing</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card h-100" style="border: solid black 2px; border-radius: 10px; background-color: rgba(39, 39, 39, 0.56)">
                    <a href="#"><img class="card-img-top" style="margin-top: 15px" src="~/Images/ScoreS.png" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Slytherin</a>
                        </h4>
                        <div style="color: white">
                            @gridSlyth.GetHtml(columns: gridSlyth.Columns(gridSlyth.Column("Username"), gridSlyth.Column("User_Points")))
                        </div>
                        <br />
                        <div style="border-top: double 1px; color: white; ">
                            <span style="padding-right:75px">Total:</span>
                            <span>@TotalSlythDing</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Pagination -->

    </div>

</body>
</html> 